.container{
   
    
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(208, 91%, 32%);
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes slideleft{
    from{transform: translatex(600px);}
}

@keyframes slideright{
    to{transform: translatex(600px);}
}

@keyframes slideup{
    from{transform: translateY(600px);}
}
@keyframes rotate {
    50%{transform: rotatez(360deg);}
}
