.container{
    display: flex;
    flex-direction: row-reverse;
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(208, 53%, 43%);
}
#box2{
    background-color: hsl(310, 73%, 41%);
}
#box3{
    background-color: hsl(91, 82%, 36%);
}
#box4{
    background-color: hsl(17, 77%, 44%);
}